# py -m venv env
# env/Scripts/activate
# pip install aiogram
# pip install python-dotenv 
# pip install jupyterlab
# pip install langchain pandas tiktoken huggingface_hub
# pip install -U langchain-community
# pip install langchain faiss-cpu
# pip install aiogram pandas langchain faiss-cpu
# pip install langchain_ollama
# ollama pull mxbai-embed-large
# ollama list